<!--
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023B
// Assessment: Assignment 2
// Author: Huynh Duc Gia Tin, Tran Ha Phuong, Nguyen Viet Ha, Phan Nhat Minh, Tran Nguyen Quoc An
// ID: s3962053, s3979638, s3978128, s3959931, s3978598 
// Acknowledgement: MDN Web Docs, Youtube, W3school, GeeksforGeeks, RMIT Canvas, ChatGPT, NPM Packages' Docs
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="UTF-8" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet" />
  <link href="/css/login.css" rel="stylesheet" />
  <link href="/css/bootstrap.css" rel="stylesheet" />

</head>

<body>
  <div class="background"></div>
  <div class="welcome-text">
    <h1>Welcome back to Aikia</h1>
    <p>Design your dream house</p>
  </div>

  <form method="post" action="/api/customers/login">
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input required type="text" placeholder="Username" id="username" name="username" />

    <label for="password">Password</label>
    <input required placeholder="Password" id="password" name="password" />

    <button>Log In</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i> Google</div>
      <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>

    <p class="m-auto mt-3 text-center fst-italic">
      <a class="text-decoration-none" href="register">
        Doesn't have an account? Sign up!</a>
    </p>
  </form>
</body>

</html>