<header class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start py-2">
    <a class="navbar-brand" href="#">
      <img src="https://picsum.photos/50/50" alt="Aikia Logo" class="rounded-circle">
      <!-- inline and vertical align -->
      <h1 class="d-inline align-middle">
        Aikia
      </h1>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 px-5">
      <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
      <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
      <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
      <li><a href="#" class="nav-link px-2 link-body-emphasis">Products</a></li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>

    <!-- dropdown menu or button -->
    <div class="dropdown text-end mx-4">
      <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="https://picsum.photos/40/40" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Feature</a></li>
        <li><a class="dropdown-item" href="#">Feature</a></li>
        <li><a class="dropdown-item" href="#">Feature</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>

    <!-- login button -->
    <!-- <button type="button" class="btn btn-outline-primary text-center" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Login
                </button> -->
  </div>
</header>