button{
    margin-top: 0 !important;
  }
 
  ul {
    color: black;
    width: 100%;
  }
  ul li {
    padding: 20px !important;
    border: none !important;
  }
  tr th{
    background-color: orange !important;
    
  }
  table{
   border-radius: 10px;
  }