<!--
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023B
// Assessment: Assignment 2
// Author: Huynh Duc Gia Tin, Tran Ha Phuong, Nguyen Viet Ha, Phan Nhat Minh, Tran Nguyen Quoc An
// ID: s3962053, s3979638, s3978128, s3959931, s3978598 
// Acknowledgement: MDN Web Docs, Youtube, W3school, GeeksforGeeks, RMIT Canvas, ChatGPT, NPM Packages' Docs
-->

<%- include('../partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>About Us</h1>
      <p>
        Aikia is a website that allows users to design their dream house. We
        provide a wide range of furniture and decorations for users to choose
        from. Users can also save their designs and share them with others.
      </p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>