<!--
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023B
// Assessment: Assignment 2
// Author: Huynh Duc Gia Tin, Tran Ha Phuong, Nguyen Viet Ha, Phan Nhat Minh, Tran Nguyen Quoc An
// ID: s3962053, s3979638, s3978128, s3959931, s3978598 
// Acknowledgement: MDN Web Docs, Youtube, W3school, GeeksforGeeks, RMIT Canvas, ChatGPT, NPM Packages' Docs
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link href="/css/shipper.css" rel="stylesheet" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <script src="/js/validation.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <!--Stylesheet-->
    <link rel="stylesheet" href="/css/shipper-edit.css" />
  </head>
  <body>
    <div class="background"></div>
    <div class="container py-3 h-100">
      <div class="row h-100">
        <div class="col-3 h-100">
          <aside class="d-flex flex-column align-items-center py-4">
            <img
              src="https://picsum.photos/700/700"
              alt="Vendor Profile Image"
              class="profile-image img-fluid px-5"
              style="max-width: 100%; border-radius: 50%"
            />
            <a href="shippers/logout" class="btn btn-logout">Log Out</a>
            <ul class="list-group pt-3">
              <li class="list-group-item">
                <a href="../">Dashboard</a>
              </li>
              <li class="list-group-item">
                <a href="../orders">View Orders</a>
              </li>

              <li class="list-group-item"><a href="me">My Account</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-9 h-100">
          <form class="">
            <h3>Edit My Profle</h3>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                value="<%=shipper.username%>"
                required
              />
            </div>

            <div class="mb-3">
              <label for="productImage" class="form-label"
                >Profile Picture</label
              >
              <input
                type="file"
                class="form-control"
                id="productImage"
                accept="image/*"
                required
              />
            </div>
            <button type="submit" class="btn">Save Changes</button>
            <button type="button" class="btn">Cancel</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
